// variables
//--------------------
$breakpoints: (
  'sm-min': 'screen and (min-width: 576px)',
  'sm-max': 'screen and (max-width: 575px)',
  'md-min': 'screen and (min-width: 768px)',
  'md-max': 'screen and (max-width: 767px)',
  'lg-min': 'screen and (min-width: 992px)',
  'lg-max': 'screen and (max-width: 991px)',
  'xl-min': 'screen and (min-width: 1131px)',
  'xl-max': 'screen and (max-width: 1130px)',
);
@mixin mq($breakpoint: md-min) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
$c_black : #333;
$c_green : #459209;
$c_yellow : #efdd34;
$c_beige : #efe1c5;
$m-width : 1200px;

// common
//--------------------
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: $c_black;
}
a {
  color: $c_black;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
.heading-lv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  .heading-icon {
    color: $c_yellow;
    font-size: 30px;
    margin-right: 8px;
  }
  .heading-sub {
    margin-left: 16px;
  }
  @include mq(md-min) {
    margin-top: 96px;
  }
}
.btn-more {
  font-size: 18px;
  font-weight: bold;
  color: $c_green;
  text-align: center;
  display: block;
  position: relative;
  max-width: 400px;
  width: 80%;
  margin: 32px auto 48px;
  padding: 4px 0;
  background: #FFFFFF;
  border: 3px solid $c_green;
  border-radius: 99em;
  transition: all .3s;
  @include mq(md-min) {
    width: 250px;
  }
  span {
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -15px;
    font-size: 30px;
  }
  &:hover {
    color: $c_yellow;
    border-color: $c_yellow;
  }
}

//header
//--------------------
.header {

}

//main
//--------------------
.main {
  margin-top: 67px;
  @include mq(md-min) {
    margin-top: 0;
  }
}

//footer
//--------------------
.footer {
  text-align: center;
  padding: 4px 0;
  margin-top: 64px;
  background-color: #faf5e9;
  @include mq(md-min) {
    margin-top: 96px;
  }
}