
body{
    font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;   
}
img{
    max-width:100%;
    height: auto;;
}
li{
    list-style-type: none;
}
/* 見出し */
.heading_2{
    font-size:calc((20/16)*1em);
    font-weight: bold;
    margin-bottom:20px;
}
.heading_2-text{
    font-size:calc((14/16)*1em);
    line-height: 1.4;
}
.heading_3{
    font-weight: bold;
}
/* ボタン */
.btn{
    display: inline-block;
    border: 1px solid #000;
    font-size:calc((12/16)*1em);
    text-decoration: none;
    padding:15px 35px;
    cursor: pointer;
    margin-top:30px;
}
/* ヘッダー */
.mainvi{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/mainvisual\ .jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:80px;
}
.mainvi .heading_1{
    position:absolute;
    right:30px;
    top:30px;
    display: inline-block;
    background-color: #2A2A2A;
    color:#fff;
    padding:10px;
    font-size:calc((24/16)*1em);
}
/* メイン */
.container{
    text-align: center;
}
/* special */
.special{
    margin-bottom:80px;
    padding:0 5%;
}
/* 見出し */
.special_heading{
    margin-bottom:35px;
}
/* 写真 */
.photo_img{
    position: relative;
    width:100%;
    height:375px;
}
.photo_img:first-child{
    margin-bottom:30px;
}
.photo_inner{
    position:absolute;
    max-width: 290px;;
    padding:15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    top:50%;
    left:0;
    right:0;
    transform: translateY(-50%);
    margin: 0 auto;
}
.heading_3{
    font-size:calc((20/16)*1em);
    margin-bottom:5px;
}
.heading_3-text{
    font-size:calc((14/16)*1em); 
}
.photo_archive{
    background-image: url(../images/magazine-archive.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.photo_new{
    background-image: url(../images/magazine-new.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
/* ファッション */
.fasion{
    background-image: url(../images/fashion.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 520px;;
}
.fasion_heading{
    padding:0 5%;
}
.fasion_heading .heading_2{
    padding-top:35px;
}
/* cata_anti */
.cata_anti{
    padding:30px 5% 80px 5%;
    background-color: #f5f5f5;
}
.catalog h2,
.antiqu h2{
    margin-bottom:40px;
}
.cata_img{
    margin-bottom:30px;
}
.cate_anti_text{

}
.cate_anti_text p{
    font-size:calc((14/16)*1em);
    line-height: 1.5;
    margin-bottom:20px;
}
/* アンティーク */
.antiqu_inner{
    margin-top:40px;
}
/* */
@media screen and (min-width:768px) { 
.antiqu_inner,.catalog_inner{
    margin-top:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.antiqu_box,.cata_box{
    width:48%;
}
.antiqu_img,.cata_img{
    width: 48%;
}
}
/* footer */
.footer{
    background: #333;
    color:#fff;
}
.footer_inner{
    padding:20px 5%;
}
/* footer_left */
.footer_item{
    margin-bottom:20px;
}
.footer_item:first-child{
    text-align: center;
}
.footer_item .heading_1{
    display: inline-block;
    font-size:calc((24/16)*1em);
    background-color: #f5f5f5;
    color:#333;
    padding:5px;
}
.footer_item .heading_4{
    margin-bottom:20px;
}
.footer_item li::before{
    content:"-";
    margin-right: 5px;
}
.copyright{
    background-color: #fff;
    padding:10px;
    text-align: center;
}
.copyright p{
    color:#aaa;
    font-size:calc((12/16)*1em);
}
@media screen and (min-width:768px) { 
    .footer_inner{
        display: flex;
        justify-content: space-between;
    }
    .footer_item{
        width: calc(100%/3);
    }
    .footer_item:first-child{
        text-align: left;
        margin-top:60px;
    }

}